
header {
    background-image: url(imagem/assets/background.png);
    background-size: cover;
    height: 448px;      
}

header h1 {
    font-family: 'Rubik', sans-serif , bold;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 5px;
    font-weight: 600;
    display: inline;    
}

.container-fluid {
    width: 100%;
    height: 400px;
    background-image: url(imagem/assets/2019.png);
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-left: 50px;
    color:#fff;
    background-size: contain;
    margin: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.TextLaranja {
    color: #FE5000;
    font-family: 'Lato', sans-serif;
}

.TextH1 {
    font-size: 14px;
    font-family: 'Lato', sans-serif, bold;
    font-weight: 700;
    text-align-last:left;  
}

.calendario{
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;

}
.item {
    margin-left: 20%;
    display: block;
    float: left;
    margin-top: 25px;
    display: block;
    border-bottom: 1px solid #E0E0E0;
    
    
}

.main-item {
    width: 100%;
    
}
.date {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    float: left;
    width: 60px;
    height: 60px;
    background-color: #1B192B;
    display: block;
}
.number{
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    position: relative;
    display: block;   
}
.day {
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    display: block;
    position: relative;
    text-align: center;
    
    

}
.holiday-title {
    border: solid 0px red;
    float: left;
    width: 70%;
    display: block;
    margin-left: 16px;
    
    
    
}
.title {
    color: #FE5000;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: center;
    
    
}
.Add-to-calendar{
    color:#6C6C6C;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    
    
}


.footer-item {
    display: block;
    float: left;
    width: 100%;
    font-size: 14px;
    font-family: 'Lato', sans-serif; 
    margin-top: 10px;
    
    
}
.MesesNome h2 {
    margin-left: 0 auto;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    margin-bottom: 20px; 
}

.FormularioTela{
    width: 100%;
    height: 695px;
    
    
}
.FormName h2 {
    margin-top: 96px;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-left: 350px;
    
    
    
}
    
